.settings h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}
.settings h4 {
    margin-top: 15px;
    margin-bottom: 5px;
}


.settings ul {
    max-width: 200px;
    padding-left: 0;
}
.settings li {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    justify-items: flex-start;
    margin-bottom: 10px;
}

.settings li button {
    justify-self: end;
    cursor: pointer;
}

.settings .loading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings .classes {
    max-width: 250px;
}

.settings .classes li {
    grid-template-rows: 1fr 1fr;
}

.settings .classes .teacher {
    grid-column: 1 / 3;
    grid-row: 2;
    color: rgb(80, 80, 80);
}

.settings a {
    text-decoration: none;
    color: rgb(80, 80, 80);
    transition: color 0.1s ease-in;
}
.settings a:hover {
    color: rgb(0, 0, 177);
}

.settings .classes .edit-form {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}